{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Title
        {% endblock title %}
    </title>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="">
    <header id="header">
        <div id="logo">
            <img src="{% static 'logo.jpg' %}" height="100" width="100" alt="" />
            <span style="float: right;">
                {% if user.is_authenticated %}
                    {{ user.username }}
                    <a href="{% url 'logout' %}?next=/">Logout</a>
                {% else %}
                    Not Logged in.
                    <a href="{% url 'login' %}?next=/">Login</a>
                {% endif %}
            </span>
        </div>
        <div id="topbanner">
            <img src="{% static 'topbanner.jpg' %}" width="800" height="200" alt="" />
        </div>
    </header>
    <aside id="leftsidebar">
        <nav id="nav">
            <ul>
                {% block sidenav %}
                <li> Menu 1 </li>
                <li> Menu 2</li>
                <li> Menu 3</li>
                {% endblock sidenav %}
            </ul>
        </nav>
    </aside>
    <section id="main">
        {% block content %}
        <h1> Hello </h1>
        {% endblock content %}
    </section>
    <footer id="footer">
        CS 3337 Django Project
    </footer>
</div>
</body>
</html>